<div class="box">
    <%= link_to (image_tag pin.image(:medium)), pin %>
    <p class="description">
        <%= pin.description %>
    </p>

        <strong>
            Posted by <%= pin.user.name %>
        </strong>
    <% if current_user == pin.user %>
        <br>
          <%= link_to 'Edit', edit_pin_path(pin) %> | 
          <%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Delete this pin?' } %>
    <% end %>
</div>